/* Cover Image Adjustments */
.dcs-cover {
    height: 66vh;
    min-height: 600px;

    @include bp(xl-max) {
        padding: 3em !important; // overwrite declared inline by wp to match styling
    }

    @include bp(sm-max) {
        padding: 2em !important; // overwrite declared inline by wp to match styling
    }
}

.dcs-cover-caption {
    font-size: 24px;
    margin-bottom: 0;

    @include bp(lg-max) {
        font-size: 21px;
    }

    @include bp(sm-max) {
        font-size: 18px;
    }

    @include bp(xs-max) {
        font-size: 16px;
    }
}

.entry-content .dcs-cover-caption + .wp-block-buttons {
    margin-top: 1.6em; // account for spacing if there is a button below
}

