/* Cover Image Adjustments */
.dcs-cover {
    // height: 66vh;
    // min-height: 600px;

    @include bp(lg-min) {
        padding: 120px 3em 3em 3em; // offset menu height
    }

    @include bp(xl-max) {
        padding: 120px 3em 3em 3em !important; // overwrite declared inline by wp to match styling
    }

    @include bp(lg-max) {

    }

    @include bp(sm-max) {
        padding: 80px 2em 2em 2em !important; // overwrite declared inline by wp to match styling
    }
}

.entry-content .dcs-cover-caption {
    font-size: 24px;
    margin-bottom: 0;

    @include bp(lg-max) {
        font-size: 21px;
    }

    @include bp(sm-max) {
        font-size: 18px;
    }

    @include bp(xs-max) {
        font-size: 16px;
    }
}

.entry-content .dcs-cover-caption + .wp-block-buttons {
    margin-top: 1.6em; // account for spacing if there is a button below
}

.entry-content .dcs-header-underline {
    border-bottom: 5px solid var(--ast-global-color-1);
    display: inline-block;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.wp-block-social-links.is-style-logos-only li.wp-social-link.wp-social-link.wp-social-link.wp-social-link {
    margin-right: 20px;
    padding: 0;

    &:hover {
        color: var(--ast-global-color-1) !important; // overwrite wp block style
    }

    a {
        padding: 0;
    }
}
